@layer tailwind {
    @import 'tailwindcss';
}
/* @tailwind components; */
/* @tailwind utilities; */

@import '@mantine/core/styles.layer.css';

body,
.not-italic {
    font-family: var(--font-inter);
}

.italic {
    font-family: var(--font-inter-italic);
}
